@media screen and (max-width: 600px) {
  .not_mobile {
    visibility: hidden;
    display: none;
  }
}
/* The container */
.container2 {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.container2 input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
#angebot_anfordern {
  padding: 20px;
  background-color: #fafbfe;
  border-radius: 6px;
}
.has-error {
   border: 2px solid;
 border-color: #dc3545;


}
.has-error_agb {
  border-color: #dc3545;
  color: #dc3545;
 font-weight:bold;
}



.display {
  display: none;
}


/* ffr: custom filter, serarh and pagination */
.custom-filter, #item-list-index {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  gap: 8px;
  align-items: center;
  font-size: 24px;
}

.custom-filter #searchInput {
  height: 45px !important;
  width: 180px;
  flex-basis: auto;
  flex-grow: 1;
}

div#item-list-index a.active {
  color: #ffcc02;
  font-weight: bolder;
  padding: 0 4px;
  background-color: #FFCC0244;
  border-radius: 5px;
}

.overview-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.overview-item li {
  flex: 0 0 48%;
  max-width: 50%;
  padding: 12px 37px 12px 15px;
  background: #E0E0E0;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.overview-item li:hover {
  background: #ebeafb;
}

.pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-navigation button {
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  padding: 6px;
  border: solid 2px #E9EBF1;
  margin-left: 4px;
  background: #E0E0E0;
}

.page-navigation button:disabled {
  background: none;
}

.page-navigation button:disabled img {
  opacity: 0.3;
}

.page-navigation button:not(:disabled):hover {
    background: #ebeafb;
    border: solid 2px #adadae;
}

select#itemsPerPageSelector {
  border: 2px solid #e9ebf1;
  border-radius: 4px;
  color: #343434b3;
  font-size: 14px;
}


/* in smaller than 768px make it 100% */
@media (max-width: 768px) {
  .overview-item li {
    flex: 0 0 100%;
    max-width: 100%;
  }
}